@font-face {
  font-family: americanTypewriterBold;
  src: url(../fonts/american-typewriter-bold.ttf);
}

body {
    font-family: americanTypewriterBold;
    background-color: #f8f9fa;
}
h1 {
    color: #93C747;
}
h2 {
    margin: 5%;
}
.emails {
    background-color: #93C747;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5%;
}