@font-face {
  font-family: americanTypewriterBold;
  src: url(../fonts/american-typewriter-bold.ttf);
}

body {
    font-family: americanTypewriterBold;
    background-color: #f8f9fa;
}
h1 {
    color: #93C747;
}
.top{
    margin: 3%;
}
h2 {
    padding: 4%;
    color: #93C747;
}
h4 {
    padding: 4%;
    color: #93C747;
}
.emails {
    background-color: #93C747;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5%;
}
ul {
    list-style: none; 
    padding-left: 0; 
}
li {
    position: relative; 
    padding-left: 25px;
    color: black;
    margin-top: 3%;
}

li::before {
    content: ""; 
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 20px; 
    height: 20px; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-image: url(../images/pineapple.png);
}
p{
    color: black;
    padding-left: 8%;
}
button{
    color: #93C747 !important;
}
.emailList{
    width: 350px;
}
